template(name="watch")
    audio
    audio(id="audio" src="/waiting.mp3" autoplay loop)
        | Your browser does not support the <code>audio</code> element.
        
    if started
        if active
            +question
        else
            +score
    else
        +lobby
    


template(name="question")
    
    .ui.center.aligned.segment
        span(style="font-weight: bolder; color: orange") Q#{current}
        | #{question}
        
        if timeout
            .ui.right.floated.purple.icon.button.scores
                | Scores
                i.right.chevron.icon
    
    if timeout
        .ui.container
            .ui.segments
                #answers.ui.segment(style="height: 22rem")
                    each addIndex alternatives
                        .pillar(style="{{pillar index}}")
                            
    else
        .ui.three.column.grid.basic.center.aligned.segment
            .column
                .ui.compact.inverted.orange.circular.segment
                    | {{getCountdown}}
            .column
                | pic
            .column
                .ui.compact.segment.right.floated
                    | #{answerCount} Answers
    
    .ui.two.column.grid.basic.segment
        each addIndex alternatives
            .column
                .ui.inverted.center.aligned.segment(choose=index class="{{alternativeClass index}}" style="font-size: 3rem;")
                    i.icon(class="{{getIcon index}}")
                    | #{value.text}

template(name="score")
    .ui.hidden.divider
    .ui.container(style="margin-top:3rem!important")
        .ui.three.columns.grid
            .column
                .ui.left.floated.compact.segment.player-count(style="margin:0;")=playerCount
                .ui.left.floated.compact.segment(style="margin:0;") Players
            
            .column.ui.center.aligned(style="padding-top:30px")
                .logo(style="font-size:5em!important;") Hakoot!
            
            .column
                if canGoNext
                    .ui.right.icon.huge.purple.right.floated.button.next
                        | Next question
                        i.right.chevron.icon
        
        table.ui.brown.inverted.table
            thead
                tr
                    th Player
                    th Points
            tbody
                each rankedPlayers
                    tr
                        td=nickname
                        td=points            
                